Makefile
Makefile.in
acconfig.h
aclocal.m4
autom4te.cache
buildmk.stamp
config.h.in
config.cache
config.log
config.status
meta_cc
meta_ccld
mkinstalldirs
missing
install-sh
*.lo
*.la
.deps
*.plg
*.opt
*.ncb
.libs
_libs
*.o
*.a
*.tmp
*.so
*.so.*
cscope.out
config.guess
config.sub
configure
configure.in~
libtool
ltmain.sh
_configs.sed
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
depcomp
demo/text_demo/x64/
demo/font_demo/x64/
demo/ttfont_demo/x64/
demo/ttfont_demo_jp/x64/
demo/line_demo/x64/
demo/image_demo/x64/
build/.vs/
build/demo/arc_demo.dir/Release/
build/demo/character_map.dir/Release/
build/demo/chfont_demo.dir/Release/
build/demo/Debug/
build/demo/encryption.dir/Release/
build/demo/ext_gstate_demo.dir/Release/
build/demo/font_demo.dir/Release/
build/demo/grid_sheet.dir/Release/
build/demo/image_demo.dir/Debug/
build/demo/image_demo.dir/Release/
build/demo/jpeg_demo.dir/Debug/
build/demo/jpeg_demo.dir/Release/
build/demo/jpfont_demo.dir/Release/
build/demo/line_demo.dir/Release/
build/demo/link_annotation.dir/Release/
build/demo/make_rawimage.dir/Release/
build/demo/outline_demo.dir/Release/
build/demo/permission.dir/Release/
build/demo/png_demo.dir/Debug/
build/demo/png_demo.dir/Release/
build/demo/raw_image_demo.dir/Debug/
build/demo/raw_image_demo.dir/Release/
build/demo/slide_show_demo.dir/Release/
build/demo/text_annotation.dir/Release/
build/demo/text_demo.dir/Release/
build/demo/text_demo2.dir/Release/
build/demo/ttfont_demo.dir/Release/
build/demo/ttfont_demo_jp.dir/Release/
build/demo/Release/
build/src/Debug/
build/src/libhpdf.dir/Debug/
build/src/libhpdf.dir/Release/
build/src/libhpdfs.dir/Debug/
build/src/libhpdfs.dir/Release/
build/x64/
build/src/Release/
demo/build/.vs/
demo/build/x64/
build/demo/encoding_list.dir/Release/
demo/ttfont/FZQTJW.TTF
build_mac
